$anomalyChartHeight: 279px;

.dashboard-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.4rem;

    font-size: 1.8rem;
    align-items: start;
}

.anomaly-history {
    grid-column: span 12;
}

.chart-title {
    margin-bottom: 2rem;
}

.chart-container {
    display: flex;
    gap: 1rem;

    height: $anomalyChartHeight;
}

.y-axis {
    display: flex;
    flex-direction: column;

    font-size: 1.6rem;
    color: $whiteTextDark30;

    justify-content: space-between;
}

.y-axis span {
    height: 20px;
    display: flex;
    align-items: center;
}

.chart-area {
    position: relative;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.grid-lines {
    position: absolute;
    inset: 0;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    .line {
        display: flex;
        align-items: center;
        height: 20px;

        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: $whiteTextDark75;
        }
    }
}

.alert-count {
    grid-column: span 4;
}

.last-alert {
    grid-column: span 8;
}

.top-card {
    display: flex;
    justify-content: space-between;
}

.alert-info {
    font-size: 1.6rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    padding: 0px 12px;
}

.info-name {
    opacity: 0.75;
}
