.settings-content {
    margin-top: 2.4rem;
    padding: 0 16px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting-separator {
    height: 2px;
    width: 100%;
    background-color: $backgroundColorContrast;
}

.setting-title {
    font-size: 1.8rem;
}

.settings-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.setting-description {
    font-size: 1.4rem;
    color: $whiteTextDark30;
    font-weight: $fontWeightSmall;
}

.settings-separator {
    opacity: 0.7;
}
