@font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/fonts/SpaceMono-Regular.ttf");
    font-weight: 500;
}
