// @font-face {
//     font-family: "SpaceGrotesk";
//     src: url("/fonts/SpaceGrotesk-Regular.ttf");
//     font-weight: 400;
// }

// @font-face {
//     font-family: "SpaceGrotesk";
//     src: url("/fonts/SpaceGrotesk-Medium.ttf");
//     font-weight: 700;
// }

// @font-face {
//     font-family: "SpaceGrotesk";
//     src: url("/fonts/SpaceGrotesk-Bold.ttf");
//     font-weight: 900;
// }

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont.ttf");
    font-weight: 100 900;
}
