* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: $fontWeightMedium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    background-color: $primaryBackgroundColor;
    color: $whiteTextColor;
    font-family: "SpaceGrotesk";
}

.section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    height: 100dvh;
}

.panel-title {
    font-size: 2.8rem;
    font-weight: $fontWeightMedium;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    cursor: pointer;
    border-style: none;
    border-radius: 3px;

    color: $primaryBackgroundColor;
    background-color: $primaryColor;

    padding: 8px 18px;

    font-family: inherit;
    font-weight: 700;
    font-size: $defaultFontSize;
    letter-spacing: -0.2px;

    transition:
        background-color $defaultBasicElTransition,
        transform $defaultBasicElTransition;

    &:hover {
        background-color: $primaryColorDark20;
    }

    &:active {
        transition:
            background-color 0.1s ease-out,
            transform 0.1s ease-out;
        background-color: $primaryColorDark40;
    }

    &.stretched {
        width: 100%;
    }

    &.ui-size {
        font-size: 1.4rem;
    }
}

.logo-icon {
    width: 38px;
}
