$primaryBackgroundColor: #1a1a1a;
$primaryColor: #47bcf6;
$primaryColor15: rgb(71, 188, 246, 0.15);
$greenColor: #22c55e;
$whiteTextColor: #efefef;
$whiteText20: rgb(239, 239, 239, 0.2);
$whiteText70: rgba($whiteTextColor, 0.7);

$defaultFontSize: 1.6rem;
$bigFontSize: 3.8rem;
$defaultBorderRadius: 3px;
