$primaryBackgroundColor: #1a1a1a;
$primaryColor: #47bcf6;
$greenColor: #22c55e;
$whiteTextColor: #efefef;
$whiteText70: rgba($whiteTextColor, 0.7);

$defaultFontSize: 1.6rem;
$bigFontSize: 3.8rem;
$defaultBorderRadius: 3px;
