.radial-gradient {
    position: absolute;

    background: radial-gradient(
        circle,
        rgba(71, 188, 246, 0.4) 5%,
        rgba(71, 188, 246, 0.05) 60%,
        transparent 70%
    );

    z-index: 0;
}
